/* ++Basic++ */

@font-face {
    font-family: CormorantGaramond;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}

html{
    font-size: 62.5%;
    background-color: var(--backgroundcolor);
}

:root{
    --backgroundcolor:rgb(233, 233, 224);
    --fontcolor:#333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width:100%;
}

/* +++Header+++ */

header{
    display: flex;
    width:100vw;
    flex-direction: column;
    align-items: center;
    color: var(--fontcolor);
}

header h1{
    font-size: 3rem;
    padding: 10px;
    margin:1.5rem 0;
}

header h1::first-letter{
    font-weight: bolder;
    font-size: 4.5rem;
}

header h1 span{
    font-weight: bolder;
    font-size: 4.5rem;
}

header section{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

header section div{
    font-size: 1.3rem;
}

/* +++Main Artikel+++ */

 main section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    height: 100vh;
}

.überschrift1{
    grid-column: 1/5;
    font-size: 3.2rem;
    place-self: center center;
}

h4{
   grid-area: 1/5/2/6;
   font-size: 1.4rem;
   place-self: center center;
}

section div h3{
    font-size: 2rem;
}

section div p{
    font-size: 1.5rem;
}

main section .küchenfoto{
    grid-area: 2/3/4/5 ;
    border-radius: 20px;
    gap: 5px;
}

.knife-cut{
    grid-area:3/1/4/2 ;
}

.cooking-fires{
    grid-area:3/2/4/3 ;
}

.contact{
    grid-area:4/1/5/2 ;
}

.death{
    grid-area: 4/2/5/3;
}

.überschrift2{
    grid-area:2/5/3/6 ;
    font-size: 3.5rem;
    place-self: center center;
    width: 15vw;
    height: 20vh;
    border: 2px solid black;
    padding: 2rem;
    margin-right: 2rem;
}

.knives-needed{
    grid-area: 3/5/4/6;
    font-size: 3.5rem;
    place-self: center center;
    width: 15vw;
    height: 25vh;
    border: 2px solid black;
    padding: 2rem;
    margin-right: 2rem;
}

section .knives-needed a{
    font-size: 1.5rem;
}

.ikea-logo{
    grid-area: 4/5/5/6;
    place-self: center center;
    width: 15vw;
    height: 25vh;
    border: 2px solid black;
    padding: 2rem;
    margin-right: 2rem;
    margin-top: -8rem;
}





 
